.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #222;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.app-body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.todo-item {
  width: 20%;
  border: 1px solid #606060;
  margin: 10px;
}

.todo-item__topline {
  background-color: #ffb049;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.todo-item__title {
  color: #4a4a4a;
}

.todo-item__remove {
  color: red;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
}

.todo-item__text {
  padding: 10px;
}

.todo-new-item{
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0 10px;
  cursor: pointer;
}

.editField{
  background-color: transparent;
  border: none;
}


